.pop-tips{
  text-align: center;
  border-radius: 4px;
	position: absolute;
  bottom:calc(100% + 8px);
  word-break: break-all;
  min-width: 120px;
  white-space: nowrap;
  background-color:#F56C6C;
  padding:0 8px;
  box-shadow: 0px 4px 10px 0px rgba(29, 29, 29, 0.15);
	color: white;
}

.pop-tips::after {
	content: " ";
	position: absolute;
	top: 100%; /* 提示工具底部 */
	left: 50%;
	margin-left: -5px;
	border-width: 5px;
  border-style: solid;
  border-width: 5px;
	border-style: solid;
	border-color: #F56C6C transparent transparent transparent;
}

